In [1]:
import pandas as pd
import numpy as np
#conectando el colab con drive
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [7]:
%cd '/content/drive/My Drive/Cursos_Y_Proyectos/Manipulacion_de_datos_con_pandas'
!ls

/content/drive/My Drive/Cursos_Y_Proyectos/Manipulacion_de_datos_con_pandas
1_pandas_series_e_indexacion_de_datos.ipynb  3_save_and_load.ipynb  db
2_pruebas_dataframes.ipynb		     4_datatypes.ipynb

In [11]:
df_meteorites = pd.read_csv('db/Meteorite_Landings.csv')
df_meteorites.head(10)

                  name   id nametype  ...    reclat    reclong           GeoLocation
0               Aachen    1    Valid  ...  50.77500    6.08333     (50.775, 6.08333)
1               Aarhus    2    Valid  ...  56.18333   10.23333  (56.18333, 10.23333)
2                 Abee    6    Valid  ...  54.21667 -113.00000    (54.21667, -113.0)
3             Acapulco   10    Valid  ...  16.88333  -99.90000     (16.88333, -99.9)
4              Achiras  370    Valid  ... -33.16667  -64.95000   (-33.16667, -64.95)
5             Adhi Kot  379    Valid  ...  32.10000   71.80000          (32.1, 71.8)
6  Adzhi-Bogdo (stone)  390    Valid  ...  44.83333   95.16667  (44.83333, 95.16667)
7                 Agen  392    Valid  ...  44.21667    0.61667   (44.21667, 0.61667)
8               Aguada  398    Valid  ... -31.60000  -65.23333    (-31.6, -65.23333)
9        Aguila Blanca  417    Valid  ... -30.86667  -64.55000   (-30.86667, -64.55)

[10 rows x 10 columns]

In [12]:
df_meteorites.sample(20)

                              name     id  ...    reclong             GeoLocation
22856         MacKay Glacier 05248  44400  ...        NaN                     NaN
10383       Elephant Moraine 90371   8780  ...  156.37133   (-76.2759, 156.37133)
13444       Grove Mountains 020005  30667  ...   75.20472    (-73.0975, 75.20472)
4060                  Asuka 881007   3716  ...   26.00000           (-72.0, 26.0)
25664          Miller Range 090584  55050  ...    0.00000              (0.0, 0.0)
12777        Graves Nunataks 95204  10964  ... -141.50000     (-86.71667, -141.5)
682                       Nawapali  16927  ...   83.66667       (21.25, 83.66667)
23466        Meteorite Hills 00771  16005  ...  155.75000     (-79.68333, 155.75)
927                   Sioux County  23614  ... -103.66667  (42.58333, -103.66667)
8880          Dominion Range 08436  52164  ...    0.00000              (0.0, 0.0)
3001            Allan Hills A78261   1874  ...  159.66667  (-76.71667, 159.66667)
15678       Grove Mountains 053784  46499  ...   75.26861   (-72.78528, 75.26861)
31106                    Pampa (b)  18084  ...  -70.43333      (-23.2, -70.43333)
24316           Miller Range 05105  44500  ...        NaN                     NaN
21522            Lewis Cliff 93813  14536  ...  161.68323  (-84.27385, 161.68323)
12165      Frontier Mountain 90035  10433  ...  160.45004   (-72.9531, 160.45004)
38849                 Yamato 74422  24800  ...   35.66667         (0.0, 35.66667)
9723        Elephant Moraine 87573   8123  ...  156.52139  (-76.26879, 156.52139)
8622          Dominion Range 08177  53996  ...    0.00000              (0.0, 0.0)
35343  Queen Alexandra Range 99715  22161  ...  168.00000          (-84.0, 168.0)

[20 rows x 10 columns]

In [13]:
df_meteorites.shape

(45716, 10)

In [14]:
df_meteorites.size

457160

In [16]:
df_meteorites.describe()

                 id      mass (g)        reclat       reclong
count  45716.000000  4.558500e+04  38401.000000  38401.000000
mean   26889.735104  1.327808e+04    -39.122580     61.074319
std    16860.683030  5.749889e+05     46.378511     80.647298
min        1.000000  0.000000e+00    -87.366670   -165.433330
25%    12688.750000  7.200000e+00    -76.714240      0.000000
50%    24261.500000  3.260000e+01    -71.500000     35.666670
75%    40656.750000  2.026000e+02      0.000000    157.166670
max    57458.000000  6.000000e+07     81.166670    354.473330

In [23]:
pd.options.display.float_format = '{:,.2f}'.format

In [24]:
df_meteorites.describe()

             id      mass (g)    reclat   reclong
count 45,716.00     45,585.00 38,401.00 38,401.00
mean  26,889.74     13,278.08    -39.12     61.07
std   16,860.68    574,988.88     46.38     80.65
min        1.00          0.00    -87.37   -165.43
25%   12,688.75          7.20    -76.71      0.00
50%   24,261.50         32.60    -71.50     35.67
75%   40,656.75        202.60      0.00    157.17
max   57,458.00 60,000,000.00     81.17    354.47

In [26]:
#Mostrando la data completa
df_meteorites.describe(include='all')

                 name        id nametype  ...    reclat   reclong GeoLocation
count           45716 45,716.00    45716  ... 38,401.00 38,401.00       38401
unique          45716       nan        2  ...       nan       nan       17100
top     Yamato 983548       nan    Valid  ...       nan       nan  (0.0, 0.0)
freq                1       nan    45641  ...       nan       nan        6214
mean              NaN 26,889.74      NaN  ...    -39.12     61.07         NaN
std               NaN 16,860.68      NaN  ...     46.38     80.65         NaN
min               NaN      1.00      NaN  ...    -87.37   -165.43         NaN
25%               NaN 12,688.75      NaN  ...    -76.71      0.00         NaN
50%               NaN 24,261.50      NaN  ...    -71.50     35.67         NaN
75%               NaN 40,656.75      NaN  ...      0.00    157.17         NaN
max               NaN 57,458.00      NaN  ...     81.17    354.47         NaN

[11 rows x 10 columns]

In [27]:
df_meteorites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  object
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.5+ MB

In [28]:
#Cambindo al formato mas correcto segun pandas
df_meteorites.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       float64
fall            string
year            string
reclat         float64
reclong        float64
GeoLocation     string
dtype: object

In [29]:
#buscando que variables son categoricas
df_meteorites.nunique()

name           45716
id             45716
nametype           2
recclass         466
mass (g)       12576
fall               2
year             266
reclat         12738
reclong        14640
GeoLocation    17100
dtype: int64

In [30]:
#las ubicamos
df_meteorites[['fall','nametype']]

        fall nametype
0       Fell    Valid
1       Fell    Valid
2       Fell    Valid
3       Fell    Valid
4       Fell    Valid
...      ...      ...
45711  Found    Valid
45712  Found    Valid
45713  Found    Valid
45714  Found    Valid
45715  Found    Valid

[45716 rows x 2 columns]

In [33]:
#convertimos a categorical
df_meteorites[['fall','nametype']] = df_meteorites[['fall','nametype']].astype('category')

In [34]:
df_meteorites.dtypes

name             object
id                int64
nametype       category
recclass         object
mass (g)        float64
fall           category
year             object
reclat          float64
reclong         float64
GeoLocation      object
dtype: object

In [36]:
#viendo cuales son las categorias
df_meteorites['fall'].unique()

[Fell, Found]
Categories (2, object): [Fell, Found]

In [38]:
df_meteorites['fall'].value_counts()

Found    44609
Fell      1107
Name: fall, dtype: int64

In [40]:
#viendola en formato dummie 0 y 1 
pd.get_dummies(df_meteorites['fall'])

       Fell  Found
0         1      0
1         1      0
2         1      0
3         1      0
4         1      0
...     ...    ...
45711     0      1
45712     0      1
45713     0      1
45714     0      1
45715     0      1

[45716 rows x 2 columns]

In [42]:
df_meteorites[['fell','found']] = pd.get_dummies(df_meteorites['fall'])
df_meteorites.head()

       name   id nametype  ...           GeoLocation  fell found
0    Aachen    1    Valid  ...     (50.775, 6.08333)     1     0
1    Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
2      Abee    6    Valid  ...    (54.21667, -113.0)     1     0
3  Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
4   Achiras  370    Valid  ...   (-33.16667, -64.95)     1     0

[5 rows x 12 columns]

In [43]:
df_meteorites['year']

0        01/01/1880 12:00:00 AM
1        01/01/1951 12:00:00 AM
2        01/01/1952 12:00:00 AM
3        01/01/1976 12:00:00 AM
4        01/01/1902 12:00:00 AM
                  ...
45711    01/01/1990 12:00:00 AM
45712    01/01/1999 12:00:00 AM
45713    01/01/1939 12:00:00 AM
45714    01/01/2003 12:00:00 AM
45715    01/01/1976 12:00:00 AM
Name: year, Length: 45716, dtype: object

In [44]:
#convirtiendo de texto a formato tiempo mas legible
pd.to_datetime(df_meteorites['year'], errors='coerce', format= '%m/%d/%Y %H:%M:%S %p')

0       1880-01-01 12:00:00
1       1951-01-01 12:00:00
2       1952-01-01 12:00:00
3       1976-01-01 12:00:00
4       1902-01-01 12:00:00
                ...
45711   1990-01-01 12:00:00
45712   1999-01-01 12:00:00
45713   1939-01-01 12:00:00
45714   2003-01-01 12:00:00
45715   1976-01-01 12:00:00
Name: year, Length: 45716, dtype: datetime64[ns]

In [45]:
df_meteorites['year'] = pd.to_datetime(df_meteorites['year'], errors='coerce', format= '%m/%d/%Y %H:%M:%S %p')

In [46]:
df_meteorites.convert_dtypes().dtypes

name                   string
id                      Int64
nametype             category
recclass               string
mass (g)              float64
fall                 category
year           datetime64[ns]
reclat                float64
reclong               float64
GeoLocation            string
fell                    UInt8
found                   UInt8
dtype: object

In [49]:
#cambiando nombre de columna , si colocamos inplace, lo remplaca ahi mismo
df_meteorites.rename(columns={'mass (g)':'mass'}, inplace=True)

In [50]:
df_meteorites.head(3)

     name  id nametype recclass  ...  reclong           GeoLocation fell  found
0  Aachen   1    Valid       L5  ...     6.08     (50.775, 6.08333)    1      0
1  Aarhus   2    Valid       H6  ...    10.23  (56.18333, 10.23333)    1      0
2    Abee   6    Valid      EH4  ...  -113.00    (54.21667, -113.0)    1      0

[3 rows x 12 columns]

In [51]:
#creo una columna cualquiera para borrarla 
df_meteorites['ones'] = 1

In [55]:
df_meteorites.head(2)

     name  id nametype recclass  ...           GeoLocation fell found  ones
0  Aachen   1    Valid       L5  ...     (50.775, 6.08333)    1     0     1
1  Aarhus   2    Valid       H6  ...  (56.18333, 10.23333)    1     0     1

[2 rows x 13 columns]

In [56]:
#eliminandola, axis = 0 filas , axis = 1 columnas, inplace para que lo haga en la misma
df_meteorites.drop(['ones'], axis=1, inplace=True )

In [57]:
df_meteorites.head()

       name   id nametype  ...           GeoLocation  fell found
0    Aachen    1    Valid  ...     (50.775, 6.08333)     1     0
1    Aarhus    2    Valid  ...  (56.18333, 10.23333)     1     0
2      Abee    6    Valid  ...    (54.21667, -113.0)     1     0
3  Acapulco   10    Valid  ...     (16.88333, -99.9)     1     0
4   Achiras  370    Valid  ...   (-33.16667, -64.95)     1     0

[5 rows x 12 columns]

In [60]:
#borrando columnasm, pero aca no pongo el inplace, es decir solo esta mostrandome como quedaria, no lo aplico todavia
df_meteorites.drop([2,3,5,6,99,13,6], axis=0).head()

      name   id nametype recclass  ...  reclong           GeoLocation fell  found
0   Aachen    1    Valid       L5  ...     6.08     (50.775, 6.08333)    1      0
1   Aarhus    2    Valid       H6  ...    10.23  (56.18333, 10.23333)    1      0
4  Achiras  370    Valid       L6  ...   -64.95   (-33.16667, -64.95)    1      0
7     Agen  392    Valid       H5  ...     0.62   (44.21667, 0.61667)    1      0
8   Aguada  398    Valid       L6  ...   -65.23    (-31.6, -65.23333)    1      0

[5 rows x 12 columns]

In [62]:
#borrando columnas y filas al mismo tiempo, sin inplace
df_meteorites.drop(columns=['id','recclass'], index=[5,6,78,1,2,3]).head()

            name nametype      mass  ...          GeoLocation fell  found
0         Aachen    Valid     21.00  ...    (50.775, 6.08333)    1      0
4        Achiras    Valid    780.00  ...  (-33.16667, -64.95)    1      0
7           Agen    Valid 30,000.00  ...  (44.21667, 0.61667)    1      0
8         Aguada    Valid  1,620.00  ...   (-31.6, -65.23333)    1      0
9  Aguila Blanca    Valid  1,440.00  ...  (-30.86667, -64.55)    1      0

[5 rows x 10 columns]

In [63]:
#copiando el archivo, haciendo una copia original , puesto que si no es asi, el archivo copia es una referencia al archivo original, y si ese se altera, se altera la copia
df = df_meteorites.copy(deep=True)

In [64]:
df2 = df_meteorites

In [68]:
df.drop(['nametype'], axis=1,inplace=True)
df.head()

       name   id     recclass  ...           GeoLocation fell found
0    Aachen    1           L5  ...     (50.775, 6.08333)    1     0
1    Aarhus    2           H6  ...  (56.18333, 10.23333)    1     0
2      Abee    6          EH4  ...    (54.21667, -113.0)    1     0
3  Acapulco   10  Acapulcoite  ...     (16.88333, -99.9)    1     0
4   Achiras  370           L6  ...   (-33.16667, -64.95)    1     0

[5 rows x 11 columns]

In [69]:
df_meteorites.drop(['id'], axis=1,inplace=True)
df_meteorites.head()

       name nametype     recclass  ...           GeoLocation fell found
0    Aachen    Valid           L5  ...     (50.775, 6.08333)    1     0
1    Aarhus    Valid           H6  ...  (56.18333, 10.23333)    1     0
2      Abee    Valid          EH4  ...    (54.21667, -113.0)    1     0
3  Acapulco    Valid  Acapulcoite  ...     (16.88333, -99.9)    1     0
4   Achiras    Valid           L6  ...   (-33.16667, -64.95)    1     0

[5 rows x 11 columns]

In [70]:
df2.head()

       name nametype     recclass  ...           GeoLocation fell found
0    Aachen    Valid           L5  ...     (50.775, 6.08333)    1     0
1    Aarhus    Valid           H6  ...  (56.18333, 10.23333)    1     0
2      Abee    Valid          EH4  ...    (54.21667, -113.0)    1     0
3  Acapulco    Valid  Acapulcoite  ...     (16.88333, -99.9)    1     0
4   Achiras    Valid           L6  ...   (-33.16667, -64.95)    1     0

[5 rows x 11 columns]

In [72]:
#borrando nulos en filas
df_meteorites.dropna(axis=0, inplace=True)