In [21]:
import pandas as pd
data = {'names':['Sara Moreno 34',
                 'jUAn GOMez 23',
                 'CArlos mArtinez 89',
                 'Alfredo VelaZques 3',
                 'luis Mora 56',
                 '@anthony #pernia 28',pd.NA]}

In [22]:
data

{'names': ['Sara Moreno 34',
  'jUAn GOMez 23',
  'CArlos mArtinez 89',
  'Alfredo VelaZques 3',
  'luis Mora 56',
  '@anthony #pernia 28',
  <NA>]}

In [23]:
#Usemos los datos del diccionario para crear nuestro DataFrame. 
#Nuestro DataFrame contiene una columna tipo texto, con variedades 
#de caracteres especiales, números, mayúsculas e inclusive variables nulas.
df = pd.DataFrame(data)
df.head()

                 names
0       Sara Moreno 34
1        jUAn GOMez 23
2   CArlos mArtinez 89
3  Alfredo VelaZques 3
4         luis Mora 56

In [24]:
#Para usar las funciones asociadas a texto usamos str en nuestro DataFrame, por ejemplo, si se quiere colocar el texto en minúscula, 
#basta con escribir:
df['names'].str.lower()

0         sara moreno 34
1          juan gomez 23
2     carlos martinez 89
3    alfredo velazques 3
4           luis mora 56
5    @anthony #pernia 28
6                   <NA>
Name: names, dtype: object

In [25]:
#Para mayúsculas igualmente:
df['names'].str.upper()

0         SARA MORENO 34
1          JUAN GOMEZ 23
2     CARLOS MARTINEZ 89
3    ALFREDO VELAZQUES 3
4           LUIS MORA 56
5    @ANTHONY #PERNIA 28
6                   <NA>
Name: names, dtype: object

In [26]:
#O si queremos solo la primera letra en mayúscula:
df['names'].str.capitalize()

0         Sara moreno 34
1          Juan gomez 23
2     Carlos martinez 89
3    Alfredo velazques 3
4           Luis mora 56
5    @anthony #pernia 28
6                   <NA>
Name: names, dtype: object

In [27]:
#Para contar la longitud de nuestro texto usamos:
df['names'].str.len()

0      14
1      13
2      18
3      19
4      12
5      19
6    <NA>
Name: names, dtype: object

In [28]:
#Para dividir el texto por espacios usamos split y definimos el carácter por
#el que queremos dividir, en este caso, un espacio vacío '':
df['names'].str.split(' ')

0         [Sara, Moreno, 34]
1          [jUAn, GOMez, 23]
2     [CArlos, mArtinez, 89]
3    [Alfredo, VelaZques, 3]
4           [luis, Mora, 56]
5    [@anthony, #pernia, 28]
6                       <NA>
Name: names, dtype: object

In [29]:
#Para seleccionar los primeros 5 caracteres usamos:
df['names'].str[:5]

0    Sara
1    jUAn
2    CArlo
3    Alfre
4    luis
5    @anth
6     <NA>
Name: names, dtype: object

In [30]:
##Para seleccionar los primeros o últimos 5 caracteres usamos:
df['names'].str[-5:]

0    no 34
1    ez 23
2    ez 89
3    ues 3
4    ra 56
5    ia 28
6     <NA>
Name: names, dtype: object

In [31]:
#Podemos reemplazar una secuencia de caracteres por otra mediante:
df['names'].str.replace('Alfredo','Antonio')

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Antonio VelaZques 3
4           luis Mora 56
5    @anthony #pernia 28
6                   <NA>
Name: names, dtype: object

In [32]:
#También podemos buscar una secuencia de texto en específico, en este caso,'ara':

df['names'].str.findall('ara')

0    [ara]
1       []
2       []
3       []
4       []
5       []
6     <NA>
Name: names, dtype: object

In [33]:
#También podemos crear un filtro basándonos en una secuencia de texto en
#específico, en este caso, las filas que tengan 'an':
df['names'].str.contains('an')

0    False
1    False
2    False
3    False
4    False
5     True
6     <NA>
Name: names, dtype: object

In [34]:
#Así mismo, podemos contar el número de ocurrencias de un caracter en específico,
#por ejemplo, cuántas veces aparece la letra 'a':

df['names'].str.lower().str.count('a')

0       2
1       1
2       2
3       2
4       1
5       2
6    <NA>
Name: names, dtype: object

In [35]:
#Existen comandos más avanzados usando Regex, por ejemplo, si quiero extraer los
#caracteres numéricos:

df['names'].str.extract('([0-9]+)', expand=False)

0     34
1     23
2     89
3      3
4     56
5     28
6    NaN
Name: names, dtype: object

In [36]:
#O, por ejemplo, si quiero extraer las menciones '@xxxx' del texto:
df['names'].str.replace('@[^\s]+','')

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Alfredo VelaZques 3
4           luis Mora 56
5             #pernia 28
6                   <NA>
Name: names, dtype: object

In [37]:
##O,si quiero extraer los tags '#xxxx' del texto:
df['names'].str.replace('#[^\s]+','')

0         Sara Moreno 34
1          jUAn GOMez 23
2     CArlos mArtinez 89
3    Alfredo VelaZques 3
4           luis Mora 56
5           @anthony  28
6                   <NA>
Name: names, dtype: object