In [1]:
import pandas as pd

In [3]:
df_left = pd.DataFrame(
    {'X':['x0','x1','x2','x3'],
    'W':['w0','w1','w2','w3'],
    'Y':['y0','y1','y2','y3'],
    'Mix':['y2','y3','a2','a3']},
    index = [0,1,2,3])

df_left

    X   W   Y Mix
0  x0  w0  y0  y2
1  x1  w1  y1  y3
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [4]:
df_right = pd.DataFrame(
    {'Z':['z2','z3','z4','z5'],
     'A':['a2','a3','a4','a5'],
     'Y':['y2','y3','y4','y5']},
    index = [2,3,4,5])
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [5]:
#se unen a travez de la columna que tienen en comun
pd.merge(df_left,df_right)

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [7]:
pd.merge(df_left,df_right, how='inner', on = 'Y')

    X   W   Y Mix   Z   A
0  x2  w2  y2  a2  z2  a2
1  x3  w3  y3  a3  z3  a3

In [11]:
pd.merge(df_left,df_right, how='inner',left_on = 'Mix', right_on = 'Y')

    X   W Y_x Mix   Z   A Y_y
0  x0  w0  y0  y2  z2  a2  y2
1  x1  w1  y1  y3  z3  a3  y3

In [31]:
pd.merge(df_left,df_right, how='inner',left_on = 'Mix', right_on = 'A')

    X   W Y_x Mix   Z   A Y_y
0  x2  w2  y2  a2  z2  a2  y2
1  x3  w3  y3  a3  z3  a3  y3

In [32]:
pd.merge(df_left,df_right, how='inner',left_on = 'Mix', right_on = 'A', suffixes=['_left', '_right'])

    X   W Y_left Mix   Z   A Y_right
0  x2  w2     y2  a2  z2  a2      y2
1  x3  w3     y3  a3  z3  a3      y3

In [13]:
pd.merge(df_left,df_right, how='left',on='Y')

    X   W   Y Mix    Z    A
0  x0  w0  y0  y2  NaN  NaN
1  x1  w1  y1  y3  NaN  NaN
2  x2  w2  y2  a2   z2   a2
3  x3  w3  y3  a3   z3   a3

In [15]:
pd.merge(df_left,df_right, how='right',on='Y')

     X    W   Y  Mix   Z   A
0   x2   w2  y2   a2  z2  a2
1   x3   w3  y3   a3  z3  a3
2  NaN  NaN  y4  NaN  z4  a4
3  NaN  NaN  y5  NaN  z5  a5

In [16]:
pd.merge(df_left,df_right, how='outer',on='Y')

     X    W   Y  Mix    Z    A
0   x0   w0  y0   y2  NaN  NaN
1   x1   w1  y1   y3  NaN  NaN
2   x2   w2  y2   a2   z2   a2
3   x3   w3  y3   a3   z3   a3
4  NaN  NaN  y4  NaN   z4   a4
5  NaN  NaN  y5  NaN   z5   a5

In [17]:
pd.merge(df_left,df_right, how='outer',on='Y').fillna(value='xxx')

     X    W   Y  Mix    Z    A
0   x0   w0  y0   y2  xxx  xxx
1   x1   w1  y1   y3  xxx  xxx
2   x2   w2  y2   a2   z2   a2
3   x3   w3  y3   a3   z3   a3
4  xxx  xxx  y4  xxx   z4   a4
5  xxx  xxx  y5  xxx   z5   a5

In [29]:
pd.merge(df_left,df_right, how='outer', on='Y')

     X    W   Y  Mix    Z    A
0   x0   w0  y0   y2  NaN  NaN
1   x1   w1  y1   y3  NaN  NaN
2   x2   w2  y2   a2   z2   a2
3   x3   w3  y3   a3   z3   a3
4  NaN  NaN  y4  NaN   z4   a4
5  NaN  NaN  y5  NaN   z5   a5