In [1]:
import numpy as np
import pandas as pd

In [2]:
np.nan

nan

In [3]:
np.nan + 100

nan

In [4]:
np.nan > 100

False

In [88]:
#La versión 1.0 de pandas incluye un nuevo objeto NA, que es mucho más
#general pues, ademas de interactuar con números, tambien puede hacerlo con
#cadenas de texto u otras varaibles como las de tipo booleano. Si quieres que
#esta nueva definición este incluida entre tus cálculos usa:

pd.options.mode.use_inf_as_na = True

In [6]:
pd.NA + 'Hola'

In [109]:
#igual NA da problemas en true 
pd.options.mode.use_inf_as_na = False

In [110]:
pd.NA | False

In [111]:
df = pd.DataFrame(np.arange(0, 15).reshape(5, 3), columns=['a', 'b', 'c'])
df

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [112]:
df['d'] = np.nan
df['e'] = np.arange(15, 20)
df.loc[5,:] = np.nan
df.loc[4,'a'] = np.nan
df.loc[0,'d'] = 1
df.loc[5,'d'] = 10
df

     a     b     c     d     e
0  0.0   1.0   2.0   1.0  15.0
1  3.0   4.0   5.0   NaN  16.0
2  6.0   7.0   8.0   NaN  17.0
3  9.0  10.0  11.0   NaN  18.0
4  NaN  13.0  14.0   NaN  19.0
5  NaN   NaN   NaN  10.0   NaN

In [113]:
df.isnull()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False   True  False
2  False  False  False   True  False
3  False  False  False   True  False
4   True  False  False   True  False
5   True   True   True  False   True

In [114]:
df.isna()

       a      b      c      d      e
0  False  False  False  False  False
1  False  False  False   True  False
2  False  False  False   True  False
3  False  False  False   True  False
4   True  False  False   True  False
5   True   True   True  False   True

In [115]:
df.isnull().sum()

a    2
b    1
c    1
d    4
e    1
dtype: int64

In [116]:
df.notnull().sum(axis=1)

0    5
1    4
2    4
3    4
4    3
5    1
dtype: int64

In [117]:
df.isnull().sum(), df.isnull().sum(axis=1)

(a    2
 b    1
 c    1
 d    4
 e    1
 dtype: int64,
 0    0
 1    1
 2    1
 3    1
 4    2
 5    4
 dtype: int64)

In [118]:
df.size-df.isnull().sum().sum()

21

In [119]:
df[df['a'].notnull()]

     a     b     c    d     e
0  0.0   1.0   2.0  1.0  15.0
1  3.0   4.0   5.0  NaN  16.0
2  6.0   7.0   8.0  NaN  17.0
3  9.0  10.0  11.0  NaN  18.0

In [120]:
df[df['a'].notna()]

     a     b     c    d     e
0  0.0   1.0   2.0  1.0  15.0
1  3.0   4.0   5.0  NaN  16.0
2  6.0   7.0   8.0  NaN  17.0
3  9.0  10.0  11.0  NaN  18.0

In [121]:
df.dropna()

     a    b    c    d     e
0  0.0  1.0  2.0  1.0  15.0

In [122]:
df[['a']].dropna()

     a
0  0.0
1  3.0
2  6.0
3  9.0

In [123]:
df.fillna(value=99)

      a     b     c     d     e
0   0.0   1.0   2.0   1.0  15.0
1   3.0   4.0   5.0  99.0  16.0
2   6.0   7.0   8.0  99.0  17.0
3   9.0  10.0  11.0  99.0  18.0
4  99.0  13.0  14.0  99.0  19.0
5  99.0  99.0  99.0  10.0  99.0

In [124]:
#Si quisieramos remplazar con el valor siguiente usamos
df.fillna(method='ffill')

     a     b     c     d     e
0  0.0   1.0   2.0   1.0  15.0
1  3.0   4.0   5.0   1.0  16.0
2  6.0   7.0   8.0   1.0  17.0
3  9.0  10.0  11.0   1.0  18.0
4  9.0  13.0  14.0   1.0  19.0
5  9.0  13.0  14.0  10.0  19.0

In [125]:
#Si quisieramos remplazar con el valor previo usamos
df.fillna(method='bfill')

     a     b     c     d     e
0  0.0   1.0   2.0   1.0  15.0
1  3.0   4.0   5.0  10.0  16.0
2  6.0   7.0   8.0  10.0  17.0
3  9.0  10.0  11.0  10.0  18.0
4  NaN  13.0  14.0  10.0  19.0
5  NaN   NaN   NaN  10.0   NaN

In [126]:
df.fillna(method='bfill', axis=1)

      a     b     c     d     e
0   0.0   1.0   2.0   1.0  15.0
1   3.0   4.0   5.0  16.0  16.0
2   6.0   7.0   8.0  17.0  17.0
3   9.0  10.0  11.0  18.0  18.0
4  13.0  13.0  14.0  19.0  19.0
5  10.0  10.0  10.0  10.0   NaN

In [127]:
fill = pd.Series([197,198,199])
fill

0    197
1    198
2    199
dtype: int64

In [128]:
df['d'] = df['d'].fillna(fill)
df['d']

0      1.0
1    198.0
2    199.0
3      NaN
4      NaN
5     10.0
Name: d, dtype: float64

In [129]:
df.fillna(df.median())

     a     b     c      d     e
0  0.0   1.0   2.0    1.0  15.0
1  3.0   4.0   5.0  198.0  16.0
2  6.0   7.0   8.0  199.0  17.0
3  9.0  10.0  11.0  104.0  18.0
4  4.5  13.0  14.0  104.0  19.0
5  4.5   7.0   8.0   10.0  17.0

In [130]:
# Pandas también puede interporlar los valores faltanes calculando el valor que #puede haber existido en el medio.
df_d = pd.concat([df[['d']], df[['d']].interpolate()],axis=1)
df_d.columns = ['d_antes','d_interpolado']
df_d

   d_antes  d_interpolado
0      1.0            1.0
1    198.0          198.0
2    199.0          199.0
3      NaN          136.0
4      NaN           73.0
5     10.0           10.0